.modal{
    position: absolute;
    top: 0;
    z-index: 900;
    /*background-color: rgba(22,22,22,.8);*/
    height: 100%;
    width: 100%;
}
.modal-background{
    position: absolute;
    top: 0;
    z-index: 989;
    background-color: rgba(22,22,22,.8);
    height: 100%;
    width: 100%;
}

.modal-box{
    padding: 30px;
    position: absolute;
    z-index: 990;
    width: 400px;
    height: 550px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    background-color: white;
    border-radius: 20px;
    animation-name: modal-in;
    /*animation-delay: s;*/
    animation-duration: 1s;

}
.form{
    margin-top: 12px;
    margin-bottom: 12px;
    max-height: 40%;
    overflow-y: scroll;
}
form input{
    margin-bottom: 1rem;
    background-color: #fff;
    border: 1px solid black;
}
input{
    float: left;
    width: calc(100% - 200px);
}
label{
    display: inline-block;
    /*float: left;*/
    width: 200px;
    padding-right: 24px;
}

button{
    height: 30px;
    width: 80px;
}
button.submit{
    position: absolute;
    right: 0;
    background-color: rgba(87, 147, 207,.5);
    border-color: black;
    border-radius: 5px;
}
.modal-button-box{
    position: absolute;
    padding-top: 20px;
    width: calc(100% - 60px);
}
button:disabled{
    background-color: rgba(87, 147, 207,.5);
    border-color: grey;
    color: grey;
}
button:disabled:hover{
    /*background-color: coral;*/
    background-color: rgba(87, 147, 207,.5);
    color: grey;
    box-shadow: 0 0 0 0;
}
button:hover{

    color: white;
    background-color: rgba(63,124, 186,1);
    box-shadow: 5px 5px 2px rgba(0,0,0, 0.5);
}

.modal-box.position{
    position: relative;

}

@keyframes modal-in{
    0%{top: 100%}
    60%{top: 40%}
    100%{top: 50%; transform: translateX(-50) translateY(-50%)}
}

